:root {
  --margin: 3rem;
  --color-primary: #ffefeb;
  --color-primary-500: #ff521b;
  --color-primary-900: #c74015;
  --color-secondary: #eee8ff;
  --color-secondary-500: #521bff;
  --color-secondary-900: #100533;
  --text-sm: 0.8rem;
  --border: solid 0.1rem var(--color-primary-900);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  all: unset;
}

ul {
  list-style: none;
}

section {
  padding: var(--margin);
}

input,
textarea {
  all: unset;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--color-primary);
  color: var(--color-primary-500);
}

select {
  height: 2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--color-primary);
  color: var(--color-primary-500);
  border: none;
}

select:focus-visible {
  outline: solid 1px var(--color-primary-500);
}

label {
  font-size: var(--text-sm);
  font-weight: 600;
  position: relative;
  left: 0.25rem;
}

input::placeholder {
  color: var(--color-primary-500);
}

button {
  all: unset;
}

table {
  width: 100%;
  border: var(--border);
  border-collapse: collapse;
}

thead {
  background-color: var(--color-primary-900);
  color: white;
}

th,
td {
  padding: 0.5rem;
}

.section-2 {
  background-color: var(--color-primary);
}

.navigation {
  background-color: white;
  position: sticky;
  z-index: 10;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem var(--margin);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.link {
  border-radius: 0.5rem;
  color: var(--color-secondary-500);
  padding: 0.5rem 0.75rem;
}

.link:hover {
  cursor: pointer;
  background-color: var(--color-secondary);
}

.navigation .list {
  display: flex;
  gap: 0.5rem;
}

.navigation .logo {
  font-size: 2rem;
  font-weight: 700;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form__row {
  display: flex;
  gap: 1rem;
}

.form__field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.form__field--85 {
  flex-basis: 85%;
}

.form__field--5 {
  flex-basis: 5%;
}

.form__actions {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}

.form__hint {
  text-align: end;
  font-size: var(--text-sm);
  font-weight: 600;
}

h1.title {
  margin-bottom: 2rem;
}

.button {
  padding: 0.75rem 1.25rem;
  border-radius: 0.5rem;
}

.button--primary {
  background-color: var(--color-primary-500);
  color: white;
}

.button--primary:hover {
  cursor: pointer;
}

.button--discrete {
  transition: background-color 0.25s ease-in-out;
  color: var(--color-primary-500);
}

.button--discrete:hover {
  cursor: pointer;
  background-color: var(--color-primary);
}

.day {
  margin-bottom: 1.5rem;
}

.day__title {
  color: var(--color-primary-900);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.schedule__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.schedule__header .title {
  font-size: 1.25rem;
  font-weight: 600;
}

.schedule__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.schedule__day {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: calc(100% / 7);
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-secondary);
  color: var(--color-secondary-500);
}

.schedule__day.schedule__day--today {
  color: var(--color-secondary);
  background-color: var(--color-secondary-500);
}

.schedule__day .title {
  font-weight: 300;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.schedule__day .subtitle {
  font-size: 0.8rem;
  font-weight: 600;
}
