:root {
  --title-font-size: 24px;
  --title-line-height: 28px;
  --title-font-weight: 600;
  --body-font-size: 16px;
  --body-line-height: 20px;
  --card-width: 310px;
  --default-border: solid 2px gainsboro;
  --default-padding: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  height: var(--card-height);
  width: var(--card-width);
  border: var(--default-border);
  border-radius: 8px;
}

.image {
  width: var(--card-width);
  object-fit: cover;
}

.title {
  font-weight: var(--title-font-weight);
  font-size: var(--title-font-size);
  line-height: var(--title-line-height);
}

.card__info .title {
  margin-bottom: 8px;
}

.description {
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  text-align: justify;
}

.card__info,
.card__item {
  padding: var(--default-padding);
  border-bottom: var(--default-border);
}

.card__footer {
  padding: var(--default-padding);
}

.card__footer a:first-child {
  margin-right: 8px;
}
